Click
# Flask
selenium
webdriver-manager
openpyxl
html5lib
lxml
dateparser
pydantic
matplotlib
pandas
numpy
python-dateutil
pytz
seaborn

# SQLAlchemy
# mysql-connector-python
# docopt
wget
# PyInquirer
graphviz 
folium

# Deep learning:
theano
tensorflow
keras
sklearn
opencv-python
nltk
wordcloud
# mkl

# itsdangerous==1.1.0
# Jinja2==2.10.1
# MarkupSafe==1.1.1
# uWSGI==2.0.18
# Werkzeug==0.15.3

